.cmp-bannercarousel {
    &__container {
        &--button {
            &-prev {

                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid $color-background;
                bottom: 37px;
                top: unset;
                position: absolute;
                left: 15px;
                display: block;
                z-index: 20;


                &::after {
                    width: 40px;
                    height: 40px;
                    color: $color-background;
                    font-size: $font-size-l;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include min-screen(md) {
                    display: none;
                }

            }

            &-next {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid $color-background;
                bottom: 37px;
                top: unset;
                position: absolute;
                right: 15px;
                display: block;
                z-index: 20;

                &::after {
                    width: 40px;
                    height: 40px;
                    color: $color-background;
                    font-size: $font-size-l;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include min-screen(md) {
                    display: none;
                }
            }


        }

        .swiper-pagination {

            bottom: -25px;
            color: $color-background;
            font-size: $font-size-l;
            display: block;
            height: 100px;
            opacity: 0.5;

            span {
                color: $color-background;
            }

            @include min-screen(md) {
                display: none;
            }
        }

        &__bottom {
            background-color: rgba(33, 33, 33, 0.8);
            bottom: 0;
            padding: 50px;
            position: absolute;
            width: $max-width;
            z-index: 5;

            @include min-screen(md) {
                background-color: rgba(33, 33, 33, 0.8);
                bottom: 0;
                position: absolute;
                width: $max-width;
                height: 20%;
                padding: 0;
            }

            &__container {
                @include min-screen(md) {
                    margin-left: 115px;
                    margin-right: 228px;
                    height: $max-height;
                }

                &__items {

                    display: none;

                    @include min-screen(md) {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: $max-width;
                        height: $max-height;
                        align-items: stretch;
                        margin: 0;
                        padding: 0;

                    }

                    &--list {
                        @include min-screen(md) {
                            width: 32%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;


                        }

                        &-icon {
                            @include min-screen(md) {
                                margin-left: 25px;
                                cursor: pointer;
                            }

                            img {
                                @include min-screen(md) {
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                        }

                        &-text {

                            @include min-screen(md) {
                                margin-top: 0px;
                                font-size: $font-size-sm;
                                color:$color-light-grey;
                                margin-left: 25px;
                            }

                            @include min-screen(lg) {
                                margin-top: 15px;
                                font-size: $font-size-l;
                                color: $color-light-grey;
                                margin-left: 25px;
                            }
                        }

                    }

                    .show {
                        border-top: 3px solid $color-background;

                        @include min-screen(md) {
                            cursor: pointer;

                            .cmp-bannercarousel__container__bottom__container__items--list-icon {
                                transform: rotate(-90deg);
                                cursor: pointer;


                            }
                        }

                    }

                }
            }
        }
    }


}