.cmp-bannercomponent {

    min-height: 568px;
    height: $max-height;

    @include min-screen(md) {
        min-height: 700px;
    }

    &__container {
        align-items: center;
        background-color: $color-foreground;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        opacity: 0.9;
        color: $color-background;

        @include min-screen(md) {
            padding: 142px;
            max-width: 1213px;
            align-items: flex-start;
            background: transparent;
        }

        &--title {
            margin-bottom: 10px;

            @include min-screen(md) {
                font-size: $font-size-info;
                font-weight: $font-weight-bold;
            }
        }

        &--contenttype {
            font-size: $padding-sm;
            font-weight: 700;
            margin-bottom: 23px;
            text-align: center;

            @include min-screen(md) {
                font-size: 50px;
                max-width: 57%;
                text-align: left;
                letter-spacing: normal;
                line-height: 55px;
                font-weight: 600;

            }
        }


    }

    &__button {
        width: 62%;
        background-color: $color-light-blue;
        border-radius: 25px;
        top: 225px;
        position: absolute;
         cursor: pointer;
        right: 69px;
        padding: 5px;
        text-align: center;

        @include min-screen(md) {
            background-color:$color-background;
            border-radius: 25px;
            top: 316px;
            position: absolute;
            cursor: pointer;
            padding: 2px;
            left: 140px;
            width: 15%;
        }

        a {
            display: contents;
        }

        &--linktext {
            color: $color-foreground;
            font-size: $font-size-sm;
            font-weight: bold;
            text-align: center;
        }

        &--arrow {
            color: $color-foreground;
            margin-left: 10px;
            font-weight: bold;
            font-size: $font-size-l;
        }


    }


    &__image {
        bottom: 0;
        top: 35%;
        position: absolute;
        z-index: -3;

        @include min-screen(md) {
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
        }

        &--img {
            height: $max-height;
            object-fit: cover;
            width: $max-width;
        }
    }

}
