<div class="cmp-searchcard">
  <div class="cmp-searchcard__card">
    <div class="cmp-searchcard__card-details">

      <div class="cmp-searchcard__card-details--name">Sunshine Fourth Apartment</div>
      <div class="cmp-searchcard__card-details--agent">by: Sale Agent</div>
      <div class="cmp-searchcard__card-details--price"><span class="icon"><img
            src="/etc.clientlibs/wknd/clientlibs/clientlib-site/resources/images/icon__price.png" alt=""></span> $3,600
        /
        month with taxes</div>

      <div class="cmp-searchcard__card-details--detail">Details:<em>3660 sq ft</em></div>

      <ul class="rate">
        <li class="rate__start"><i class="fa fa-star-o"></i></li>
        <li class="rate__start"><i class="fa fa-star-o"></i></li>
        <li class="rate__start"><i class="fa fa-star-o"></i></li>
        <li class="rate__start"><i class="fa fa-star-o"></i></li>
        <li class="rate__start"><i class="fa fa-star-o"></i></li>
        <li class="rate__start">(24) Reviews</li>
      </ul>

      <ul class="info">
        <li class="info__bedroom"> <img
            src="/etc.clientlibs/wknd/clientlibs/clientlib-site/resources/images/icon__bedroom.png" alt=""> 4 Bedrooms
        </li>
        <li class="info__bathroom"><img
            src="/etc.clientlibs/wknd/clientlibs/clientlib-site/resources/images/icon__bathroom.png" alt=""> 4 Bathrooms
        </li>
      </ul>

      <div class="button">
        <a href="https://google.com/" class="button__click"><i class="fa fa-eye"></i>
          <div class=button__text>Contact Me</div>
        </a>
      </div>

    </div>
  </div>

  <div class="cmp-searchcard__image"><img
      src="/etc.clientlibs/wknd/clientlibs/clientlib-site/resources/images/apartments.webp" alt="">
  </div>
</div>